<!DOCTYPE html>
<html>
<head>
    <%= render 'event_tmpls' %>
    <%= render 'category_tmpls' %>

    <script id="app_controls" type="text/html">
      <form class="form-horizontal well">

        <div class="control-group">
          <label class="control-label" for="name">Name</label>
          <div class="controls">
            <input name="name" type="text" value="{{name}}" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <input name="description" type="text" value="{{description}}" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="seats">Seats</label>
          <div class="controls">
            <input name="seats" type="text" value="{{seats}}" />
          </div>
        </div>

      </form>
    </script>

    <script id="app_buttons" type="text/html">
      <form class="form-horizontal well">
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn" id="save">Save</button>
            <button type="submit" class="btn" id="cancel">Cancel</button>
          </div>
        </div>
      </form>
    </script>

  <title>Rhizhome</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<% if @colloquy and @colloquy.id %>
  <body id="<%= @colloquy.id %>">
<% else %>
  <body>
<% end %>

<%= yield %>

</body>
</html>
